<script defer src="https://cloud.umami.is/script.js" data-website-id="d179743c-138a-4212-8906-28f70628ef95"></script>
<style>
:root {
    --MENU-S-width: 11rem;
    --MENU-M-width: 11rem;
    --MENU-L-width: 15rem;
    font-size: 19px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
               "Apple Color Emoji", "Segoe UI Emoji" !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
  letter-spacing: 0.7px;
}

code, kbd, pre, samp {
  font-family: "Fira Code", "Hack", "Source Code Pro", Consolas, Menlo, monospace !important;
  font-size: 0.95rem;
  line-height: 1.4;
}
</style>
